<header>
    <h1>Template</h1>
    <nav>
        <ul>
            <li><a href="/palette">Palette</a></li>
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
</style>